
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
CZ4031_p1/[Rr]elease/
CZ4031_p1/[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
__pycache__/
.idea/

# Solution files and proj settings/filters
*.sln
*.vcxproj
*.filters

# Visual Studio cache/options directory
.vs/

# Visual Studio Code
.vscode/
.code-workspace

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# *.exe
*.out
*.app

# Temporary files
*.tmp
~$*.*